<header class="main-header">
  <nav class="main-header__nav">
      <ul class="main-header__item-list">
          <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">홈</a></li>
          <li class="main-header__item"><a class="<%= path === '/cartRouter/cartRouterFile' ? 'active' : '' %>" href="/cartRouter/cartRouterFile">장바구니</a></li>
          <li class="main-header__item"><a class="<%= path === '/reviewRouter/reviewRouterFile' ? 'active' : '' %>" href="/reviewRouter/reviewRouterFile">리뷰 창</a></li>
          <li class="main-header__item"><a class="<%= path === '/logInRouter/logInRouterFile' ? 'active' : '' %>" href="logInRouter/logInRouterFile">로그인은 왜 안될까</a></li>
      </ul>
  </nav>
</header>